/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

.search-form {
  font-size: 16px;
  display: flex;
  margin-top: 36px;
  /* width: 371px;
  height: 40px; */
  justify-content: center;
}

.form-control {
  width: 272px;
  height: 37px;
  padding: 0;
  margin-right: 8px;
  border-radius: 4px;
  border-color: #808080;
}

.btn-primary {
 width: 91px;
  height: 40px; 
  color: #FFFFFF;
  background-color: #4E75FF;
  border: none;
  border-radius: 8px;
}

.btn-primary:hover {
   background-color: #6C8CFF;
}

.btn-primary:active {
   background-color: #4E75FF;
}

.form-control:hover {
  border-color: #000000;
}

.gallery {
  padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item {
  
  border: 1px solid #808080
}

.info {
  display: flex;
  flex-wrap: wrap;
    gap: 14px;
     width: 360px;
    font-size: 12px;
    justify-content: center;
    text-align: center; 
}

.loading {
  margin-top: 32px;
  text-align: center;
}

